.weather-container {
  min-height: 100vh;
  padding: 80px 8%;
  background:  rgb(221, 221, 230); /* SAME dark blue as About */
  color: rgb(30, 5, 79);
  font-family: "Poppins", sans-serif;
}

/* ===== SEARCH ===== */
.weather-search {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.weather-search input {
  padding: 14px 20px;
  width: 300px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 14px;
}

.weather-search button {
  padding: 14px 25px;
  border-radius: 30px;
  border: none;
  margin-left: 10px;
  background: #0b0863;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.weather-search button:hover {
  background: #3aa0ff;
}

/* ===== TOP SECTION ===== */
.weather-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.weather-left {
  display: flex;
  align-items: center;
  gap: 30px;
}

.temp {
  font-size: 100px;
  font-weight: 700;
}

.details p {
  margin: 6px 0;
  opacity: 0.9;
  font-size: 16px;
}

/* ===== RIGHT INFO ===== */
.weather-right {
  text-align: right;
}

.weather-right h2 {
  font-size: 38px;
  margin-bottom: 8px;
}

.weather-right p {
  opacity: 0.8;
}

/* ===== FORECAST ROW ===== */
.forecast-row {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* ===== FORECAST BLOCKS (LIKE ABOUT) ===== */
.forecast-card {
  background: rgba(17, 7, 52, 0.05);
  border-radius: 18px;
  padding: 25px;
  width: 140px;
  font-weight: bold;
  text-align: center;
  transition: 0.3s ease;
  border: 1px solid rgba(22, 13, 64, 0.08);
}

.forecast-card:hover {
  transform: translateY(-8px);
  background: rgba(15, 5, 33, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.forecast-card img {
  width: 55px;
  margin: 10px 0;
}

.forecast-card p {
  margin: 6px 0;
  font-size: 14px;
}

.error {
  text-align: center;
  color: #ff6b6b;
  font-size: 18px;
}
